<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>html表单</title>
</head>
<body>
<form action="http://192.168.253.33:8000/server/create_status" method="POST">
        First name:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname"><br>
    <br>

        <input type="radio" name="sex" value="male" checked>Male
        <br>
        <input type="radio" name="sex" value="female">Female
        <input type="submit" value="submit">


    </form> 

</body>
</html>
